$blue: #0f7bc1;
$black: #424242;
$red: #c10f0f;
$magenta: #c10fa8;
$purple: #670fc1;
$turquoise: #0fc1bc;
$green: #0fc120;
$yellow: #c1bf0f;
$orange: #c1960f;
$brick-red: #c1440f;
$dark-blue: #0f22c1;
$lightgray: #e1e1e1;
$link-blue: #2a7ae2;
$link-hover-black: rgb(17, 17, 17);
$link-color: $link-blue;
$link-hover-color: $link-hover-black;
$divider-color: $lightgray;
