<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="body-inner">
      {%- include header.html -%}

      {%-if page.id == 'index'-%}
        <main class="page-content" aria-label="Content" {%if site.backgroundImage %}style="background-image: url('{{site.backgroundImage}}');"{%endif%}>
          <div id="mission">
            <div id="mission-statement">
                {{content}}
            </div>
            <div id="mission-image-container">
              <img src="{{site.indexImage}}" />
            </div>
          </div>
        </main>
      {%-else-%}
        <main class="page-content" aria-label="Content">
          <div class="wrapper">
            {{ content }}
          </div>
        </main>
      {%-endif-%}

      {%- include footer.html -%}
    </div>
  </body>

</html>